@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Primary colors */
  --primary: #EE2B69;
  --primary-100: #FFE8F0;

  /* Secondary color */
  --secondary: #FBE843;

  /* Black colors */
  --black: #000000;
  --black-100: #333333;
  --black-200: #141413;
  --black-300: #7D8087;

  /* White colors */
  --white: #FFFFFF;
  --white-100: #F7F7F7;

  /* Font */
  --font-work-sans: 'Work Sans', sans-serif;

  /* Border Radius */
  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Box Shadow */
  --shadow-100: 2px 2px 0px 0px rgb(0, 0, 0);
  --shadow-200: 2px 2px 0px 2px rgb(0, 0, 0);
  --shadow-300: 2px 2px 0px 2px rgb(238, 43, 105);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .heading {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.025em;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-work-sans), Arial, Helvetica, sans-serif;
}

/* Custom utility classes */
/* Primary colors */
.text-primary {
  color: var(--primary);
}

.text-primary-100 {
  color: var(--primary-100);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-100 {
  background-color: var(--primary-100);
}

.hover\:text-primary:hover {
  color: var(--primary);
}

.hover\:bg-primary:hover {
  background-color: var(--primary);
}

/* Secondary color */
.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.hover\:text-secondary:hover {
  color: var(--secondary);
}

.hover\:bg-secondary:hover {
  background-color: var(--secondary);
}

/* Black colors */
.text-black {
  color: var(--black);
}

.text-black-100 {
  color: var(--black-100);
}

.text-black-200 {
  color: var(--black-200);
}

.text-black-300 {
  color: var(--black-300);
}

.bg-black {
  background-color: var(--black);
}

.bg-black-100 {
  background-color: var(--black-100);
}

.bg-black-200 {
  background-color: var(--black-200);
}

.bg-black-300 {
  background-color: var(--black-300);
}

/* White colors */
.text-white {
  color: var(--white);
}

.text-white-100 {
  color: var(--white-100);
}

.bg-white {
  background-color: var(--white);
}

.bg-white-100 {
  background-color: var(--white-100);
}

/* Border Radius */
.rounded-lg {
  border-radius: var(--radius-lg);
}

.rounded-md {
  border-radius: var(--radius-md);
}

.rounded-sm {
  border-radius: var(--radius-sm);
}

/* Box Shadow */
.shadow-100 {
  box-shadow: var(--shadow-100);
}

.shadow-200 {
  box-shadow: var(--shadow-200);
}

.shadow-300 {
  box-shadow: var(--shadow-300);
}